@import url("http://awebfont.ir/css?id=1116");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "B Yekan",tahoma,Arial;
}

.container{
    margin-left: auto;
    margin-right: auto;
    width:92%;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.header-right{
    display: flex;
}
.menu-list{
    display: flex;
    list-style-type: none;
    align-items: center;
    padding-right: 50px;
}
.menu-item{
    margin: 10px 25px;
    color:#999;
    font-size: 18px;
    cursor: pointer;
}
.header-left{
    display: flex;
}
.header-left p{
    padding:5px 20px;
    color:#288ed9;
    cursor: pointer;
}
.header-left .header-login{
    color:#fff;
    background-color:#288ed9;
    border-radius: 25px;
}
/* --------------header bottom---------------- */
.header-bottom{
    display: flex;
    align-items: center;
}
.header-bottom-right{
    width: 35%;
}
.title{
    margin: 50px 0 10px;
    color: #288ed9;
}
.desc{
    color: #288ed9;
    margin-bottom: 15px;
}
.info{
    color: #7e7e7e;
    line-height: 27px;
    text-align: justify;
}
.header-bottom-left{
    width: 65%;
    padding-right: 25px;
}

/* ----------------------------------------- */

.host-section{
    background: linear-gradient(to bottom , rgba(214,238,255,0) 0 ,#d6eeff 100%)
}
.host-section-title{
    text-align: center;
    padding-top: 100px;

}
.host-list{
    display: flex;
    padding: 75px 0;
}
.host-item{
    margin: 0 15px;
    padding: 40px 15px 20px;
    border: 1px solid lightgray;
    border-radius: 12px;
    text-align: justify;
    color: #5c5c5c;
    position: relative;
}
.host-item-title{
    position: absolute;
    width: 150px;
    background-color: #288ed9;
    color: white;
    top:-20px;
    text-align: center;
    margin: auto;
    right: 0;
    left: 0;
    border-radius: 25px;
    padding: 5px 10px;
}

/* ---------------------------------- */
.feature{
    display: flex;
    align-items: center;
    padding: 20px 50px;
}
.feature-right{
    width: 50%;
}
.feature-right-title{
    color: #288ed9;
    margin: 35px 0 10px;
}
.feature-right-desc{
    text-align: justify;
    color: #5c5c5c;
    line-height: 27px;
}
.feature-left{
    width: 50%;
    padding: 5px 50px;
}

.feature:nth-child(even){
    flex-direction: row-reverse;
}

/* -------------------------------- */

.footer-section{
    text-align:center;
    padding: 40px 0;
    color:#333333;
}

.socials i{
    font-size: 25px;
    padding: 10px;
    cursor: pointer;
}

.end-sign{
    font-weight: bold;
    font-size: 11px;
}